@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Inter';
}

.article-header {
    height: 100vh;
    background-color: black;
}

.section-wrapper {
    padding: 60px 0 10px;
}

.section-wrapper .row {
    padding-bottom: 50px;
}

.section-wrapper .row .col-lg-6 {
    padding-left: 40px;
    padding-right: 40px;

}

.element-01 {
    background: rgb(245, 183, 0);
    background: linear-gradient(0deg, rgba(245, 183, 0, 1) 0%, rgba(4, 231, 98, 1) 100%);
}

.card {
    border-radius: 20px;
    width: 100%;
    border: 1px solid black;
    font-family: 'Inter';
    -webkit-box-shadow: 0px 9px 2px 0px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 9px 2px 0px rgba(0, 0, 0, 0.61);
}

.card:hover {
    top: 5px;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.61);
}

.card-img-top {
    border-radius: 20px;
}

.tall-card .custom-card-wrapper{
    min-height: 450px;

}

.card-body {
    height: 60%;
}

.custom-card-wrapper {
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.c-footer {
    font-weight: bold;
    margin-bottom: 5px;
}
.card-text {
    margin-top: 10px;
}

.card-custom-title {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    height: 50px;
}

.card-custom-title p {
    width: 88%;
    margin-bottom: 5px;
    padding-left: 5px;
}

.card-custom-title.yellow p {
    background-color: #F5B700;
}

.card-custom-title.green p {
    background-color: #04E762;
}

.card-t {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mobile-display {
    display: none;
}

.read-story {
    width: 100%;
    position: relative;
    margin: 20px 0;
    display: grid;
    place-items: center;
}

.read-story a{
    display: grid;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #DC0073;
    /* border-radius: 5px; */
    place-items: center;
    font-weight: bold;
}

.read-story a:hover {
    background-color: #97004e;

}

@media screen and (max-width: 576px) {
    .card-custom-title {
        font-size: 1.5em;
    }

    .mobile-display {
        display: block;
    }

}
/* 
.content-wrapper {
    width: 60%;
} */

.element-02, .element-06 {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    transition: 1s;
    height: 450px;
}

.element-02 {
    background-image: url(../assets/homepage/OUA_landingpage_header_courtesynjes_March2022.jpg);
}

.element-06 {
    background-image: url(../assets/homepage/IndigenousAthletes_landingpage_header_JesMason_March2022.jpg);
    background-position: top center;
}

.element-02:hover, .element-06:hover {
    height: 550px;
}

.content-title {
    font-size: 35px;
    line-height: 55px;
    background-color: #89FC00;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

.content-body {
    color: white;
    font-size: 20px;
}


.anim-typewriter_c {
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-style: italic;
    height: 0;
    transition: height .5s;
}


.element-02:hover .anim-typewriter_c:nth-child(1) {
    height: 70px;
    padding: 20px 0;
    animation: typewriter 2s steps(50) .5s 1 normal both;
}
.element-02:hover .anim-typewriter_c:nth-child(2) {
    height: 70px;
    padding: 0 0 20px 0;
    animation: typewriter 2s steps(50) 2.5s 1 normal both;
}

.element-06:hover .anim-typewriter_c:nth-child(1) {
    height: 70px;
    padding: 20px 0;
    animation: typewriter 2s steps(50) .5s 1 normal both;
}
.element-06:hover .anim-typewriter_c:nth-child(2) {
    height: 70px;
    padding: 0 0 20px 0;
    animation: typewriter 2s steps(50) 2.5s 1 normal both;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.element-03 {
    background: rgb(220, 0, 115);
    background: linear-gradient(0deg, rgba(220, 0, 115, 1) 0%, rgba(245, 183, 0, 1) 100%);
}

.element-05 {
    background: rgb(4,231,98);
background: linear-gradient(0deg, rgba(4,231,98,1) 0%, rgba(245,183,0,1) 100%);
}

.custom-carousel {
    position: relative;
}

.slider-title {
    text-align: center;
    background-color:#89FC00;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}
/* .slide-content-wrapper {
    width: 33.33%;
} */

.slide-content-wrapper img{
    /* width: 100%; */
    /* height: 350px; */
    object-fit: fill;
}

.prev-button {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    cursor: url('../assets/left-arrow.svg'), auto;
    top: 0;
    z-index: 2;
}

.next-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    cursor: url('../assets/right-arrow.svg'), auto;
}

.prev-button i, .next-button i {
    display: none;
}

#slide-container {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: 1s;
    /* flex-wrap: nowrap; */
}

.element-07 {
    background-color: #008BF8;
    padding-bottom: 50px;
}

.credit-header {
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
    text-transform: uppercase;
}

.credit p {
    font-size: 19px;
    margin-bottom: 0;
}

.green-cred, .dark-green, .orange, .prune {
    padding-left: 5px;
    margin-bottom: 5px;
}

.green-cred {
    background-color: #89FC00;
}

.dark-green {
    background-color: #04E762;
    margin-top: 10px
}

.orange {
    background-color: #F5B700;
}

.prune {
    background-color: #DC0073;
}

.feature-name {
    font-size: 25px !important;
}

.empty-space {
    height: 20px;
}

.element-07 .container .row {
    padding-bottom: 0;
    margin-top: 50px
}

.element-07 .container .row .custom-row {
    margin-top: 0;
    padding-bottom: 50px;

}
.credit-title-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    height: 0;
}

.credit:hover {
    top:0;
    -webkit-box-shadow: 0px 9px 2px 0px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 9px 2px 0px rgba(0, 0, 0, 0.61);
}

.card a {
    text-decoration: none;
    color: black;
}


.credit-title {
    position: relative;
    top: -40px;
    background-color: #89FC00;
    padding: 10px;
    font-size: 40px;
    left: 0;
    line-height: 45px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
}

.pq-mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
    .card-custom-title {
        font-size: 25px;
    }
    .card-custom-title p{
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    .element-02, .element-06 {
        height: 100%;
        padding: 30px 0;
    }

    .element-02:hover, .element-06:hover {
        height: 100%;
    }

    .content-wrapper {
        padding: 0 10%;
        height: 100%;
    }

    .content-body .c-footer  {
        margin-bottom: 20px;
    }
    
    .anim-typewriter_c {
        display: none;
    }
    

    .content-title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 15px;
        text-align: center;
        padding-left: 0;
    }

    .content-body {
        font-size: 15px;
    }

    .pq-mobile {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-style: italic;
    }
    
    .element-02:hover .anim-typewriter_c:nth-child(1) {
        animation: none;
    }
    .element-02:hover .anim-typewriter_c:nth-child(2) {
        animation: none;
    }

    .card-custom-title {
        font-size: 30px;
    }
    .card-custom-title p{
        width: 80%;
    }

    .section-wrapper .row {
        padding-bottom: 0;
    }

    .element-01 .container .row .col-xs-12,
    .element-03 .container .row .col-xs-12,
    .element-05 .container .row .col-xs-12,
    .element-07 .container .row .col-xs-12 {
        margin-bottom: 50px;
    }
    .credit {
        margin-top: 50px;
    }

    .prev-button, .next-button {
        cursor: pointer;
        display: grid;
        place-items: center;
        font-size: 40px;
        color: #DC0073;
    }

    .prev-button, .next-button {
        cursor: pointer;
    }

}

@media screen and (max-width: 767px) {
    .card-custom-title {
        font-size: 25px;
    }
    .card-custom-title p{
        width: 100%;
    }

    .credit-header {
        font-size: 20px;
    }

    .credit p {
        font-size: 14px;
    }

    .prev-button {
        position: absolute;
        left: 0;
        width: 30%;
        height: 100%;
        cursor: pointer;
        top: 0;
        z-index: 2;
    }
    
    .next-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        height: 100%;
        cursor: pointer;
    }

    .prev-button i, .next-button i {
        display: block;
    }
}

@media screen and (max-width: 519px) {
    .credit-header {
        font-size: 1rem;
    }

    .credit p, .feature-name  {
        font-size: 14px !important;
    }

    
}

@media screen and (max-width: 450px) {
    .card-custom-title {
        font-size: 18px;
    }
    .card-custom-title p{
        width: 100%;
    }

    .credit-header {
        font-size: 0.7rem;
    }

    .credit p, .feature-name  {
        font-size: 14px !important;
    }

    .editorial {
        min-height: 300px;
    }
}

.card-1 {
    background-image: url('../assets/homepage/YearinGaming_March30.jpg');
}

.card-2 {
    background-image: url('../assets/homepage/CollectorsNFT_LailaAmer_March30.jpg');
}

.card-3 {
    background-image: url('../assets/homepage/AnimeSports_BerryShi_March2022.jpg');
}

.card-4 {
    background-image: url('../assets/homepage/Disparity_header_JesMason_March2022.jpg');
}

.card-5 {
    background-image: url('../assets/homepage/UnsungHeroes_header_JesMason_March2022.jpg');
}

.card-6 {
    background-image: url('../assets/homepage/RamsRookieDiaryFinal_LailaAmer_March30.jpg');
}

.card-7 {
    background-image: url('../assets/homepage/Coaches_header_JesMason_March2022.jpg');
}

.card-8 {
    background-image: url('../assets/homepage/Perdictions_vanessakauk_mar22.jpeg');
}

.card-9 {
    background-image: url('../assets/homepage/RamsRookieDiary_LailaAmer_March30.jpg');
}

.card-10 {
    background-image: url('../assets/homepage/Superstitions_vanessak_mar22.jpeg');
}

.card-11 {
    background-image: url('../assets/homepage/UnofficialAwards_landingpage_AndrewYang_March2022.jpg');
}

.card-12 {
    background-image: url('../assets/homepage/GavinAxelrodEd_desktopheader_JesMason_March2022.jpg');
}